.chartContainer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.chartRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:50px;
  }

  .chartBox {
    background-color: #fff; 
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 350px; /* opsional: agar ukuran seragam */
  }
  
  .chartBox:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }