.exploreSection {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .exploreBtn {
    margin-top: 50px;
    width: 350px;
    height: 75px;
    background: linear-gradient(135deg, #DFD0B8 0%, #948979 100%);
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
   }
   
   .exploreBtn:hover {
    color:#153448;
   }
   
   .exploreBtn:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }
   
   .exploreBtn:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
   }